// пример переменных
$main_font: HelveticaRegular;

$bg-width: 480px;
$bg-height: 320px;
$bg-url: "../img/coins_2.png";
$bg-url-active: "../img/coins_1.png";

$color_white: #ffffff;
$color_top: #14F47B;
$color_bottom: #00A3FF;
$color_01: #03a9f4;
$color_02: #0582CA;
$color_03: #235ff5;
$color_04: #003554;
$color_05: #051923;

$animation_speed: 0.25s;